[2015-05-26 13:13] ahmadia opened #1 "Harden install of DDT"
Right now, DDT is installed via the instructions here: https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/README.md

It would be great if we could boil this down to "vagrant up" via a Vagrantfile/Salt install.

[2015-05-26 13:14] ahmadia commented on #1
@yamsgithub - I am taking the lead on this from Continuum's side.

[2015-05-26 15:48] yamsgithub commented on #1
Great! Thanks Aron!

Sent from my iPhone

[2015-06-03 19:30] ahmadia commented on #1
@yamsgithub and @aecio, this looks great!  The Dockerfile is exactly what I was asking for.  I don't have a "config" index in ElasticSearch, how do you normally populate this?

[2015-06-03 20:29] yamsgithub commented on #1
Hi Aron:

Great! I am glad the docker file is a good start.

For setting up config you should first update the following file to
correspond to your elasticsearch index setup:
domain_discovery_tool/elastic/ddt_index_config_entries.json

then run the following script:
domain_discovery_tool/elastic/create_config_index.sh

Thanks
Yamuna

PS: I will add this to the README.md

On 3 June 2015 at 15:30, A

[2015-06-20 17:40] #1 closed

[2015-06-20 17:43] ahmadia opened #3 "Remove hardcode references to elasticsearch endpoint"
In order to use configurable elasticsearch endpoint, we need to remove any hardcoded references to "localhost:9200" in the repository.

[2015-07-05 03:15] #3 closed

[2015-07-05 03:16] ahmadia opened #5 "Don't assume that DDT lives on the top-level domain"
We'll be serving DDT from an explorer.io page, where it will live as explorer.io/ddt.  DDT contains a few absolute URL references that need to be changed to relative URLs.  Alternatively, we could define an HTTP_BASE URL for you that defines your base.

[2015-07-05 03:17] ahmadia commented on #5
See https://github.com/ViDA-NYU/domain_discovery_tool/blob/526f14dc5ed97a2c3229c0cfb3491813f39f9213/vis/html/js/dataaccess.js#L121 for an example.

[2015-07-05 03:17] ahmadia commented on #5
cc @aecio @yamsgithub

[2015-07-22 20:55] aecio opened #7 "Rebuild DDT conda package for both Linux and Mac"
@ahmadia

[2015-07-22 21:48] ahmadia commented on #7
Done

[2015-07-22 21:48] #7 closed

[2015-08-19 20:20] yamsgithub opened #8 "Create a conda based development environment"

[2015-08-19 20:28] yamsgithub opened #9 "Add a menu bar and move some functionality to it"
- [x] Add a menu bar on the top and move following functionality to it to reduce the space of the interface:
 1. Domains list
 2. Add new domain
 3. ~~Clustering methods~~
 4. Model building
- [x] The menu bar should be fixed while scrolling.
- [x] It should display the name of the currently active domain selected.
- [x] Display the name "Domain Discovery Tool" and logo on the left corner.

[2015-08-19 20:30] yamsgithub opened #10 "Make all components on the interface collapsable"

[2015-08-19 20:35] yamsgithub opened #11 "Change the status messages to appear at the top of the page"
Something like Google status messages in gmail.
It should be persistent to scrolls

[2015-08-19 20:41] yamsgithub opened #12 "DDT Interface Enhancement: Add some statistics of the selected corpus"

[2015-08-19 20:42] yamsgithub opened #13 "DDT Interface Enhancement: Pagination for filter results"

[2015-08-19 20:42] yamsgithub opened #14 "DDT Interface Enhancement: Better tooltips overall"

[2015-08-19 20:43] yamsgithub opened #15 "DDT Interface Enhancement: Filter by fields of the schema like date (updated, added)"

[2015-08-19 20:43] yamsgithub opened #16 "DDT Interface Enhancement: Better summary of the retrieved pages:"
improved visualization, e.g., termite
Real-time, incremental LDA (PLSA - from MIT Lincoln Labs)

[2015-08-19 21:28] aecio opened #17 "Remove folders lda_pipeline and seed_crawler_site"
Folders `lda_pipeline` and `seed_crawler_site` contain legacy code that have not been modified in a long time. Check that they are not really used and remove what is not used anymore.

[2015-08-20 21:01] aecio opened #18 "Ability to remove domains and data associated with it"
We already have a button for adding new domains (crawlers). Another useful feature would be to have a button for removing the domains and all the data associated with it.

[2015-08-20 21:44] yamsgithub opened #19 "Add a scroll bar to the pages details gallery"
Currently you have to scroll down the pages which moves the visualization out of users view.

[2015-08-21 06:11] yamsgithub opened #20 "Tag the page as seed"

[2015-08-21 14:30] yamsgithub opened #21 "Query using URLs"

[2015-08-21 14:31] yamsgithub opened #22 "Add Google API search"

[2015-08-25 16:53] yamsgithub opened #23 "While adding a new domain allow the specification of the index mapping"
This allows accessing other indexes with different mapping in DDT

[2015-08-27 18:44] yamsgithub opened #25 "Configure multiple elasticsearch into DDT"

[2015-08-27 18:59] yamsgithub commented on #17
Removed the unused directories.

[2015-08-27 18:59] #17 closed

[2015-08-27 21:57] #10 closed

[2015-08-27 21:57] #11 closed

[2015-08-27 21:57] #19 closed

[2015-08-28 17:12] brittainhard commented on #9
@yamsgithub will I be working from the hand-written mockups that @aecio made? Have there been any changes or decisions made for the design?

[2015-08-28 17:43] yamsgithub commented on #9
I think that should be fine. There have been no other design decisions made. I believe Katrina has updated you on the time frame. Since we want to make the Tool review on Sep 8th it would be great if you could have something for us on Mon next week.

[2015-08-28 17:46] brittainhard commented on #9
Sorry, do you mean Monday September 7th? Or August 31st?

[2015-08-28 17:48] yamsgithub commented on #9
Sorry...my bad...I meant August 31st.

[2015-08-28 17:53] brittainhard commented on #9
The last time I talked to Katrina about it she wanted to get the work over the course of next week. I'm not sure that I will be able to close this ticker by Monday. @kriehl can you weigh in on this?

[2015-08-28 18:03] yamsgithub commented on #9
@brittainhard you don't have to close the ticket. But would be good to have something ready by then so we can iterate over it if necessary. But this has to be closed no later than Sep 2nd as I will need some time for full integration with the backend and testing before we put it in front of the surrogate user group review.

[2015-08-28 18:06] brittainhard commented on #9
Is "Tool review" and the surrogate user group review the same thing?

[2015-08-28 18:07] yamsgithub commented on #9
Yes.

[2015-08-28 18:24] brittainhard commented on #9
I was planning on closing this whole issue as a PR. If theres some piece of this ticket that you wanted done first, so that it could be done by Monday, it would be useful to know what that piece is so I can focus my time on it, instead of focusing on the ticket generally. It would also be useful to have that as a separate issue.

As is, this ticket will not be able to be closed by Monday. I still

[2015-08-28 18:47] yamsgithub commented on #9
Yes. You could add the menu and starry by first moving the add domain part to it. Once that is done we can move other things to the menu. Does that make sense ?

Sent from my iPhone

[2015-08-28 18:48] aecio commented on #8
Fixed in Pull Request #24.

[2015-08-28 18:48] #8 closed

[2015-08-28 18:52] brittainhard commented on #9
Yes that's fine. I can't as of now give you an assessment as to how long that will take. I'll let you know when I know.

[2015-08-28 19:00] aecio opened #26 "Empty message box is displayed when the page is loaded"
Every time the page is loaded, a yellow box is display in the screen. The box only disappears after the first message is shown. Ideally, the box should not be displayed if there's no message to be shown.

Related to issue #11.

@rshandy @yamsgithub

[2015-08-28 19:25] aecio commented on #26
This only happens when there's at least one domain added (Add one domain, and then update the page to reproduce).
When there are no domains added, a message "No crawlers found" is shown instead.

[2015-08-28 21:17] rshandy commented on #26
fixed it! :+1:

[2015-08-28 21:17] #26 closed

[2015-08-28 21:19] brittainhard commented on #9
@yamsgithub I think I can get the first part of this issue ready to be merged before lunch on tuesday at the latest

[2015-08-28 21:59] yamsgithub commented on #9
@brittainhard that sounds good. Thanks!

[2015-08-31 21:31] brittainhard commented on #9
Hey @yamsgithub @aecio I need to include some third-party JS libraries to implement some of the interactions from the mockups. The first of these would be bootstrap.js, which I would need for dropdown menus. I might also need a library for proper styling on the select crawler element. Any thoughts on this?

[2015-08-31 22:06] yamsgithub commented on #9
We already include bootstrap I think. If not feel free to add any libraries you need.

Sent from my iPhone

[2015-09-02 21:30] brittainhard opened #30 "seeds_generator/conf/queries.txt creates Merge Conflicts"
Does this file need to be tracked by the repo? My PR at https://github.com/ViDA-NYU/domain_discovery_tool/pull/28 just got a merge conflict because of a merged change in this file.

[2015-09-02 21:38] aecio commented on #30
I don't think so. I already added it to `.gitignore`, but it needs to be removed from repository too.

[2015-09-02 21:41] brittainhard commented on #30
I can get rid of it in my PR, if you'd be ok with it.

[2015-09-02 22:16] aecio commented on #30
I think you can go ahead. The app rewrites the content of this file everytime a new web search is issued.

[2015-09-03 15:18] #30 closed

[2015-09-04 14:35] brittainhard commented on #9
@yamsgithub I noticed that you crossed out the last two items "Clustering methods" and "Model building".

Do you still want me to add these things to the menu?

[2015-09-04 14:52] yamsgithub commented on #9
Actually we decided not to move the clustering methods. But we still want
to move the Model Building to the menu.

[2015-09-04 14:53] brittainhard commented on #9
Awesome. I'll have a PR for that up soon.

[2015-09-08 18:57] aecio opened #34 "Add modal window explaining what's the 2D projection"
For first time users, it's not clear what's the 2D visualization is doing. We could add a help button on the corner, which opens a new modal window with a explanation of what's the purpose of the visualization and what each dot and color in the plot means.

[2015-09-08 19:45] aecio opened #35 "Status messages are using term "crawler" instead of "domain" when a new domain is added"

[2015-09-08 20:58] aecio commented on #9
Done in pull requests #28, #32 and #33.

[2015-09-08 20:58] #9 closed

[2015-09-11 18:34] yamsgithub opened #36 "Allow accessing the page from the term context snippet"
This involves 2 task:

1. Enable shift+click on the term which will disable the mouseover on the terms and makes the snippet window persistent for the selected term
2. Allow click on each term context snippet which opens the page that contains the snippet to be opened in a browser

[2015-09-15 17:49] brittainhard commented on #36
@yamsgithub i noticed that when you shift click the term it also adds it into the search box. Do you want these two things to happen simultaneously?

[2015-09-15 17:57] brittainhard commented on #36
Also, what do you want to happen when you shift click something? That is, do you still want mouseover info on the term, as well as shift click ability? If that is the case, then some logic is required.

[2015-09-15 18:02] yamsgithub commented on #36
Oh...right. Forgot about that. We don't want to lose that functionality. I
am open to suggestions.

On 15 September 2015 at 13:57, Brittain Hard <notifications@github.com>
wrote:

[2015-09-15 18:11] brittainhard commented on #36
Keeping both shift-click functionalities seems easy, but there is still the question of what should happen with the mouseover. For instance, if you shift click something, does it ignore mouseover inputs? Do you have to un-shift click something to get it to unstick?

[2015-09-15 18:16] yamsgithub commented on #36
Yes...we would then have to say just do a click to undo the shift-click.

On 15 September 2015 at 14:11, Brittain Hard <notifications@github.com>
wrote:

[2015-09-16 15:59] brittainhard commented on #36
@yamsgithub when I look at the function which renders the term snippets .. https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/vis/html/js/snippetsviewer.js#L58-L63

There's no link data associated with these objects. Just the text of the objects. Is there a way to get this data passed?

[2015-09-16 16:11] yamsgithub commented on #36
True. I will make the urls available asap.

Thanks
Yamuna

On 16 September 2015 at 11:59, Brittain Hard <notifications@github.com>
wrote:

[2015-09-16 16:13] #35 closed

[2015-09-16 20:57] aecio commented on #36
As we have more than one possible action, what about about if we had a popover when the mouse is hovering over the term, like in this example: http://jsfiddle.net/wojtekkruszewski/zf3m7/22/
And then, the content of the popover would be a few buttons with the possible actions:
- use keyword as a web search query
- pin snippets window, to allow the user to click on the snippets and open the page
- u

[2015-09-17 00:15] yamsgithub commented on #36
I think that would in general be a good idea but in this case it could be
very annoying as they will keep popping up for each term as you hover the
mouse over the terms. Instead I think we should maybe add 'pin' icon next
to each term which when clicked will pin the snippets to that term?

On 16 September 2015 at 16:57, Aécio Santos <notifications@github.com>
wrote:

[2015-09-17 03:41] yamsgithub commented on #36
The links should be available now.

On 16 September 2015 at 11:59, Brittain Hard <notifications@github.com>
wrote:

[2015-09-17 13:05] brittainhard commented on #36
@yamsgithub @aecio so we are going with my plan of indicating which term has been shift-clicked with a pin icon, and continuing as normal with this issue?

[2015-09-17 13:08] yamsgithub commented on #36
@brittainhard actually I was thinking that we should just a pin icon for each term. Something like the 'delete' icon when custom terms are added. That way we can do away with over using shift+click. What do you think?

[2015-09-17 13:10] brittainhard commented on #36
so you would have a second column of icons on the left that you could press to pin a single term? Can you pun multiple terms?

[2015-09-17 13:12] yamsgithub commented on #36
Right. No...we should not allow pinning multiple terms simultaneously. I
would think that would be rather confusing.

On 17 September 2015 at 09:10, Brittain Hard <notifications@github.com>
wrote:

[2015-09-17 13:13] brittainhard commented on #36
Ok, so when you un-pin something does that allow the mouseover events again?

[2015-09-17 13:16] yamsgithub commented on #36
Right

[2015-09-17 13:17] brittainhard commented on #36
Ok. I'll have that done today.

[2015-09-17 13:18] yamsgithub commented on #36
Great! Did you check the urls I made available with the term snippets? is
that sufficient for you to access the urls corresponding to the snippets?

On 17 September 2015 at 09:17, Brittain Hard <notifications@github.com>
wrote:

[2015-09-17 13:54] brittainhard commented on #36
@yamsgithub the links part is working on https://github.com/ViDA-NYU/domain_discovery_tool/pull/37

[2015-09-17 15:14] yamsgithub commented on #36
@brittainhard I checked out your branch but I do not see any changes. Am I missing something?

[2015-09-17 15:15] brittainhard commented on #36
Sorry, forgot to push it.

[2015-09-17 15:22] yamsgithub commented on #36
@brittainhard  Cool. Now I see it. I think it would be better to just click and open the page instead of a double-click. Any specific reason you made that a double-click? Also we should probably show a clickable cursor so the user knows that he can click on the snippets.

[2015-09-17 15:28] brittainhard commented on #36
It can easily be changed to a single click. I'll go ahead and do that.

[2015-09-17 16:43] brittainhard commented on #36
@yamsgithub i'm having trouble with the d3 selectors so i'm changing the pin type interface over to jquery

[2015-09-17 18:28] yamsgithub commented on #36
you mean you are having difficulty adding the pin type image? You could
follow what I have done with the delete icon right?

On 17 September 2015 at 12:43, Brittain Hard <notifications@github.com>
wrote:

[2015-09-17 18:53] brittainhard commented on #36
I'm mainly having trouble figuring out how to insert a glyphicon into the SVG elements in the terms window. I think I've found a solution by drawing a triangle, as a pointer. Would that be ok?

[2015-09-17 18:56] yamsgithub commented on #36
hmmm...how about an image of the pin. Just like the image of the delete
that I have used?

On 17 September 2015 at 14:53, Brittain Hard <notifications@github.com>
wrote:

[2015-09-17 18:57] brittainhard commented on #36
I can try. It's not that straightforward though.

[2015-09-23 19:11] brittainhard opened #38 "Web Search Broken"
The web search for domains is currently breaking for me. This is the error I see in my terminal.
[code]

[2015-09-23 19:36] ahmadia commented on #38
ping @yamsgithub and @aecio

[2015-09-23 19:41] aecio commented on #38
@brittainhard @ahmadia I saw this problem before when building a docker image. It was using an old version of the compiled java code. I looks like `make` doesn't realize that the java code actually changed and it doesn't compile it again.

[2015-09-23 19:42] ahmadia commented on #38
Ahh, us spoiled Python programmers never rebuild after updating our Git repositories :)

[2015-09-23 19:44] ahmadia commented on #38
Interesting, I got a different crash this time.  Now an exit 70.

[2015-09-23 19:45] aecio commented on #38
There's any stacktrace?

[2015-09-23 19:47] ahmadia commented on #38
It's whining about being unable to bind the port, I'm looking into it.

[2015-09-23 19:54] ahmadia commented on #38
okay, master is working for me after rebuilding with `make`.  closing.

[2015-09-23 19:54] #38 closed

[2015-09-24 14:54] brittainhard commented on #13
@yamsgithub you mentioned before that you needed to do some backend work to get this to work. Is this still the case?

[2015-09-24 14:54] brittainhard commented on #36
Closing this.

[2015-09-24 14:54] #36 closed

[2015-09-24 17:55] yamsgithub commented on #13
@brittainhard Yes...this will require some backend change. But probably a very small one. So please go ahead assuming that you have n number of pages returned and which should be stored on the client side (in javascript) and displayed in m pages at a time. m is specified by the page cap. Does that make sense?

[2015-09-24 18:21] yamsgithub opened #39 "Bugs arising from the pin terms work"
1. When new terms are added they disappear after the update is done.
2. Sometimes the term added as relevant (blue) shows up as irrelevant (red) on the terms list

[2015-09-24 18:23] yamsgithub opened #40 "Set the cursor at the beginning of the text box in the add new domain window"
Allow the user to start adding the domain name without having to click on the textbox.

[2015-09-24 19:35] brittainhard commented on #39
@yamsgithub I am seeing that the irrelevant terms are removed after an update, his this what you are saying? Also, I am only seeing consistent colors applied with relevant and non-relevant. Can you help me understand how to duplicate this part?

[2015-09-24 19:45] yamsgithub commented on #39
Right. They should not be removed after an update.

Try to test the colors for a new domain.

[2015-09-24 19:58] brittainhard commented on #39
I'll take a look at this tomorrow.

[2015-09-25 14:43] brittainhard commented on #39
@yamsgithub do you know of the bug involving the deletion of negative custom terms existed before I started working on this project? I feel like this might have been a pre-existing bug. I have no problem looking into it, I would just like to know the history of it.

[2015-09-25 14:53] yamsgithub commented on #39
@brittainhard I don't believe it existed before. I still see the terms that were added before the change. It is now that terms added do not persist.

[2015-09-25 18:45] brittainhard commented on #39
@yamsgithub after doing a git bisect i think i've found the breaking commit: https://github.com/ViDA-NYU/domain_discovery_tool/commit/94e3151933c71cc3cc6172a599d9f2f1d5f28272

I'll take a look at that code and try to see what caused it to break.

[2015-09-25 18:46] brittainhard commented on #39
Some assistance here would be appreciated :)

[2015-09-25 19:48] yamsgithub commented on #39
I will take a look at it when I get a chance

[2015-09-25 20:01] brittainhard commented on #39
@yamsgithub fixed it, it was a simple spelling error :) fixed in https://github.com/ViDA-NYU/domain_discovery_tool/pull/41

[2015-09-25 22:10] yamsgithub commented on #39
@brittainhard Great! it looks good now. What was the typo?

[2015-09-28 20:16] #40 closed

[2015-10-01 21:55] yamsgithub opened #42 "Allow uploading list of URLS or single URL (instead of a web query)"
Add another collapsible panel (collapsed by default) on the left below the Web Search panel.
It should have a text box where you can input a URL.
And an upload icon that allows you to upload a file with a list of URLS. The uploaded URLs should appear in the text box
When the list of URLs are submitted then they are processed just like the results of the web search are processed. That is the pages

[2015-10-05 17:57] #39 closed

[2015-10-12 21:04] brittainhard commented on #42
@yamsgithub can you give me some more info on this task?

So, basically, it seems to me that you want to add a new domain and give it the urls first, rather than doing a web search to get the urls? And you want to be able to upload these urls as a file?

[2015-10-12 21:49] yamsgithub commented on #42
@brittainhard Right. I have updated a little more detail as to what needs to be done. It should be available for new and existing domains.

[2015-10-12 21:55] brittainhard commented on #42
Ok, so why are we using a file upload as opposed to a text upload, or even (ideally) reading and saving seeds in an elasticsearch index? Just curious.

[2015-10-12 22:01] yamsgithub commented on #42
@brittainhard This is the easiest first that should anyway be allowed. You can dump URL's from any other elasticsearch into a file and then upload into DDT. Sure...you can allow a text upload too. Text upload is good for few URL's but would be quite tedious for a large number of URLs.
We are adding this to support the use case of uploading URLs from datawake and analysing them in DDT.

[2015-10-12 22:02] brittainhard commented on #42
@yamsgithub so where does the uploaded file end up, on the filesystem? Is this something I will have to set up myself?

[2015-10-12 22:05] yamsgithub commented on #42
@brittainhard  No...the uploaded URLs should be passed as a list to the backend through a call that will in turn make the necessary calls to download the pages. I will make the backend changes to start the download.

[2015-10-12 22:09] brittainhard commented on #42
So, in that case, you are reading the content of the file and downloading each page? Which do we want, text upload or file upload?

[2015-10-12 22:10] yamsgithub commented on #42
@brittainhard Both.

[2015-10-12 22:14] brittainhard commented on #42
So there's also the possibility of getting seeds lists from Memex Explorer via elasticsearch, has this been considered?

[2015-10-12 22:36] yamsgithub commented on #42
@brittainhard How exactly would we do this through the DDT interface? What index would we read the URLs from?

[2015-10-12 22:46] brittainhard commented on #42
So off the top of my head, we could set the type of the document to be "memex_explorer_seed" and you could search for it like that. In terms of how we would ensure unique index names, i'm not sure. I'm planning on adding this feature into memex explorer regardless of whether we use the indices in DDT. It's a nice possibility though, and would make integrating the applications much easier.

[2015-10-12 22:46] yamsgithub commented on #42
@brittainhard Remember that though the backend can make calls to any elasticsearch with any schema we have to make sure we do this systematically from the interface.

[2015-10-12 22:49] yamsgithub commented on #42
@brittainhard DDT is not aware of Memex Explorer. The solution in DDT has to be very generic. Once you have the implementation in Memex Explorer we can revisit this as see how we can leverage it.

[2015-10-13 14:41] brittainhard commented on #42
So I'm going to work on the problem of getting our seeds lists into elasticsearch today. We have a demo with Sotera tomorrow. After all that is done, I'll start to work on this issue, probably on Thursday.

[2015-10-15 15:33] brittainhard commented on #42
@yamsgithub i was planning on working on this issue today and tomorrow. Is the code ready for me to add the hooks for file uploads, etc?

[2015-10-15 16:31] yamsgithub commented on #42
@brittainhard I thought you would be adding the hooks on the client side...right?
I will be able to integrate it with the backend on Mon. I am busy working on a paper deadline this week.

[2015-10-15 16:35] brittainhard commented on #42
Sorry, didn't know that was the plan. I'll go ahead and add the UI elements. The branch probably shouldn't be merged until the backend is ready though, because these inputs will have no functionality. Maybe we can work off the same branch?

[2015-10-15 16:37] yamsgithub commented on #42
@brittainhard Right. Thanks!

[2015-10-15 18:33] aecio opened #43 "Conda enviroment not working due to elasticsearch dependency"
Latest elasticsearch conda package (1.7) doesn't include executable file to start elasticsearch, or the name changed. ElasticSearch doesn't start when running supervisor:

[code]

Specifying a elasticsearch version <= 1.6 in the `environment.yml` file fixes this problem, but another problem happens when starting DDT services through supervisor:

[code]

and in the file `./logs/ddt-stderr---supervi

[2015-10-15 18:43] ahmadia commented on #43
Hmnn, I'm not sure about the former (maybe you're acquiring elasticsearch from a different channel than we intend?) but the latter seems to be a missing `elasticsearch` under pip?

[2015-10-15 18:43] brittainhard commented on #43
I think what's going on here is that there are two packages, both of which are called elasticsearch. One is the service and the other is the wrapper around it. To fix this, we simply installed elasticsearch from pip instead of from conda. It looks like this:

[code]
(cut a bunch of dependencies out to make it clearer).

[2015-10-15 18:49] brittainhard commented on #43
It's worth talking about, whether we should change the name of the elasticsearch service package to elasticsearch-service to avoid this problem. Elastic has you install their package through pip just as "elasticsearch" and not "elasticsearch-py" for some reason.

[2015-10-15 18:54] ahmadia commented on #43
That's pretty standard for installing from a Python-specific repository.

I'd be +1 on changing elasticsearch to elasticsearch-server, but we probably need to discuss a little more before doing so unless we're "broken" in production.

[2015-10-16 18:58] aecio commented on #43
I thinks renaming elasticsearch to elasticsearch-server makes sense too.

I tried the solution that @brittainhard suggested but it didn't work for me.

About elasticsearch 1.7, I think I'm getting the package from memex channel, since it's the only channel declared in [`enviroment.yml`](https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/environment.yml) file. And the downloaded package

[2015-10-17 13:26] ahmadia commented on #43
@aecio - I see the problem and I can fix it.  I'll try to have something to you by Monday.

[2015-10-17 16:11] aecio commented on #43
Thanks @ahmadia.

[2015-10-20 18:26] aecio commented on #43
Hi guys,

I'm testing this once more today, and I found that this second problem (ImportError) is a side effect of the first problem. If change the package `elasticsearch` to `elasticsearch=1.6.0`, and then run `conda env update`, the first problem is solved but I still get the ImportError. But if I deactivate the env, an then remove the env with `conda env remove -n ddt`, then `conda env update`,

[2015-10-20 18:28] ahmadia commented on #43
Sorry @aecio this slipped by me yesterday.

[2015-10-20 18:28] ahmadia commented on #43
Looking at this now.

[2015-10-20 18:37] aecio commented on #43
That's ok. For now, I think the fix for this in DDT is just to force `elasticsearch` version 1.6.0. But there may be a more general bug in conda or in the binstar packages.

[2015-10-20 18:39] ahmadia commented on #43
There's an elasticsearch 1.7 in the memex channel that I probably accidentally uploaded.  I'm inspecting it now.

[2015-10-20 18:51] ahmadia commented on #43
Okay, there was a miscommunication within our team and that Python package got accidentally uploaded last week.  Sorry for the trouble @aecio, everything should be fixed now with a `conda update`.

[2015-10-20 21:25] aecio commented on #43
Thanks for the help. I'm closing this issue now.

[2015-10-20 21:25] #43 closed

[2015-11-18 17:35] brittainhard opened #45 "Unnecessary crawlermodel.py?"
So i'm looking through the code and I noticed that there is a crawlermodel.py file here at https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/vis/crawlermodel.py and another different crawlermodel.py here: https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/models/crawlermodel.py

It seems to me that the one in `vis/` is the false one and the one in `model/` is the real one. C

[2015-11-18 17:44] yamsgithub commented on #45
It was supposed to be the interface to steer the crawler. It will remain until we decide to not pursue it. So I am closin this issue.

[2015-11-18 17:50] brittainhard commented on #45
But isn't the one in `model/` a more up-to-date version of the one in `vis/`?

[2015-11-18 17:52] yamsgithub commented on #45
Sorry...yes...I think you are right. Let me look into it and delete it once I am sure.

[2015-11-18 17:54] brittainhard commented on #45
I should also note that here:  https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/vis/crawler_model_adapter.py#L2 the import is coming from models.crawlermodel

[2015-11-18 18:02] yamsgithub commented on #45
Yeah...I saw that :-)

[2015-11-18 20:28] aecio commented on #45
I think even [seed_crawler_model.py](https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/models/seed_crawler_model.py) and all the stuff related to crawler steering should be removed. This files contain duplicated/outdated code that diverged a lot from the current implementation. If we decide that we are going to work on this again, this files will not be helpful anymore. And we always c

[2015-11-18 20:34] brittainhard opened #46 "Remove Unused Files"
- [ ] https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/vis/crawlermodel.py
- [ ] https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/models/seed_crawler_model.py
- [ ] https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/vis/html/crawlervis.html

[2015-11-18 20:34] brittainhard commented on #45
I think it might be worthwhile to list all of the unnecessary files left in the repo. Made an issue here: https://github.com/ViDA-NYU/domain_discovery_tool/issues/46

[2015-11-18 20:35] brittainhard commented on #46
I would really appreciate it if you guys could list all of the files here that you think can be removed.

[2015-11-18 20:35] brittainhard commented on #45
Closed in favor of #46

[2015-11-18 20:35] #45 closed

[2015-11-19 15:30] brittainhard opened #47 "Bash scripts and Python in elastic/"
So which of these are being used? There are multiple instances of what look like python scripts and bash scripts doing the same things, i.e. https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/elastic/delete.py and https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/elastic/delete_index.sh

Moreover, looking at the blame, it looks like the python script is much newer than the b

[2015-11-19 15:38] yamsgithub commented on #47
Please go ahead and log issues related to all the redundant files you find. I will not get a chance to look into these for a while. There are more important issues to be resolved right now.

[2015-11-19 16:24] aecio commented on #47
I think any of this `.sh` files in `elastic/` folder are used in the code base. @yamsgithub used to use this files for manual testing. For me, they should be removed or at least moved outside this python module folder.

[2015-12-02 19:05] yamsgithub opened #48 "Add custom label to groups of pages"

[2015-12-03 20:40] brittainhard opened #49 "Error when tagging relevant, irrelevant"
So the following happens if you mark an item relevant or irrelevant many times. The graph will show the URL as being irrelevant in this case:

[code]

If I were to mark this page Relevant it wouldn't stick, and it would be reverted back to Irrelevant.

It seems to prefer listing pages as Irrelevant rather than Relevant. This behavior persists even if "Relevant" is the first item in the tags list.

[2015-12-07 09:43] yamsgithub commented on #49
Changed paths:
    M models/crawlermodel.py

  Log Message:
  -----------
  Fixed bug in re-tagging pages. The bug resulted in a redundant ';' being added.

[2015-12-07 09:43] #49 closed

[2015-12-07 09:54] yamsgithub commented on #46
Changed paths:
    R models/seed_crawler_model.py
    R vis/crawlermodel.py

  Log Message:
  -----------
  Removed unused files

[2015-12-07 09:54] #46 closed

[2015-12-07 10:07] yamsgithub commented on #47
Changed paths:
    R elastic/create_config_index.sh
    R elastic/create_index.sh
    R elastic/delete_index.sh
    R elastic/put_mapping.sh
    A elastic/scripts/create_config_index.sh
    A elastic/scripts/create_index.sh
    A elastic/scripts/delete_index.sh
    A elastic/scripts/put_mapping.sh

  Log Message:
  -----------
  Moved the shell scripts to a separate dir

[2015-12-07 10:07] #47 closed

[2015-12-07 10:22] yamsgithub commented on #42
Changed paths:
    M models/crawlermodel.py
    M seeds_generator/src/main/java/page_downloader/BingSearch.java
    A seeds_generator/src/main/java/page_downloader/Download_Utils.java
    A seeds_generator/src/main/java/page_downloader/Download_urls.java
    M vis/crawler_model_adapter.py
    M vis/html/css/crawler-white.css
    M vis/html/js/crawlervis.js
    M vis/html/js/dataaccess.js
    M vis

[2015-12-07 10:22] #42 closed

[2015-12-07 10:31] yamsgithub commented on #22
Changed paths:
    M seeds_generator/conf/config.properties
    M seeds_generator/pom.xml
    A seeds_generator/src/main/java/page_downloader/GoogleSearch.java

  Log Message:
  -----------
  Added google search capability

[2015-12-07 10:31] #22 closed

[2015-12-07 18:54] julianafreire commented on #47
Please make sure to document that these scripts are for manual testing. (You could add a README to the new directory)

[2015-12-07 19:33] yamsgithub commented on #47
There is a README in the elastic directory that was written a while ago by Jean-Daniel. I am updating that.

[2015-12-07 21:15] gpfreitas opened #50 "DDT in latest master branch cannot find static files"
This regards commit f297f497d8af16b94c117ba718ca9374239e9e71.

After cloning the repo and following the installation/running instructions from the Wiki, I obtained an installation that could not find any of the static files. Here are some error logs from `/bin/ddt-dev` after I refreshed the page with the application (`localhost:8084`):

[code]

I followed the installation instructions that use the

[2015-12-07 21:18] yamsgithub commented on #50
How is this related to f297f49?

[2015-12-07 21:29] gpfreitas commented on #50
It occurred after checking out f297f497d8af16b94c117ba718ca9374239e9e71.

[2015-12-07 21:31] gpfreitas commented on #50
Following the manual procedure on the same f297f497d8af16b94c117ba718ca9374239e9e71 commit seems to load the static files correctly.

Do we just change the description of this issue to something like "Makefile does not set up static files correctly after installation" or close this and open a new one?

[2015-12-07 21:51] yamsgithub commented on #50
Strange...I am not able to reproduce this problem. I checked out the latest master version on my mac and had no trouble compiling and running using make and ./bin/ddt-dev. Also...you do  not need to run conda env create. Could you try again?

[2015-12-08 15:19] brittainhard commented on #12
@yamsgithub am I to assume that I have to parse elasticsearch for this info?

[2015-12-08 15:41] yamsgithub commented on #12
You need to parse the results returned from the server which in turn will parse the response from elasticsearch through the elastic library.

[2015-12-08 21:58] brittainhard commented on #12
@yamsgithub what is meant by "queries" here? Are those the queries for the web search? Or maybe for the filters? Where do I get this data?

[2015-12-09 11:41] yamsgithub commented on #50
Did you try again? If this is no longer an issue please close it.

[2015-12-10 21:50] brittainhard opened #52 "Clustering Graph Issues"
- [ ] There is a region along the margin where lasso selection does not work
- [ ] Sometimes the pages close to but outside the lasso selection are tagged
- [ ] Some pages within the lasso selection are not selected or tagged

[2015-12-18 02:33] gpfreitas commented on #50
I tried again with a fresh clone and could not reproduce the problem. Strange. It would be nice to have automated testing of things like this, in a fresh environment. I can't really say if the problem went away because my environment is "no longer fresh". Anyway, I'll close this one now. If I get around to it, I'll test it in a fresh VM.

[2015-12-18 02:33] #50 closed

[2015-12-26 03:25] unixninja92 opened #53 "No License"
Please include a license for the project. In the DARPA catalog this project is listed as BSD licensed but there is no indication of that in the repo.

[2016-01-20 22:31] aecio opened #60 "DDT won't plot pages (master branch)"
Steps to reproduce:

1. Make a clean repository pull
2. Run 'make'
3. Run 'source activate ddt'
4. run 'supervisord'
5. Open tool and create a new domain
6. Issue a query
7. Click update button
8. Pages will be downloaded and shown in the 'page summary', but not plotted in the 2d visualization

Is this caused by the recent change to use bokeh? Or bokeh code is still in a separate branch?

[2016-01-20 23:24] aecio commented on #60
I was seeing some JavaScript errors related to bokeh in chrome's JS console. After I switched to a different branch, the error was gone. After switching back to master branch, everything was working fine.

Maybe it was just chrome caching some old JS files?

I'm closing this for now as I can't reproduce it anymore.

[2016-01-20 23:24] #60 closed

[2016-01-25 21:16] aecio opened #61 "Counts in page summary panel are not correct after click in "update" button"
The panels with statistics about pages show wrong numbers after using "update" button.
Steps to reproduce:
-  Create a new domain named "MachineLearning" and activate it.
- Click in the update button. The number of "crawled pages" is correct: 0
- Add the following 4 URLs using the "Upload URLs" panel. Type following text in the check box, then click "Submit".
[code]

- Wait for the statistics upda

[2016-01-25 21:42] aecio opened #62 "Bokeh plot doesn't show pages close to the borders"
The visualization panel sometimes doesn't show all pages that are close to the borders.
Steps to reproduce:
-  Create a new domain named "ML" and activate it.
- Add the following 4 URLs using the "Upload URLs" panel. Type following text in the check box, then click "Submit".
[code]
- Click in the update button. 4 pages are shown.
- Filter the pages: type "tree" in the filter panel and search. The

[2016-01-27 05:36] yamsgithub opened #63 "Bugs and other issues in bokeh clustering plot"
1. The URL tooltips should appear after the mouse is stationary. Tooltips appearing as the mouse moves over the circles is not optimal
2. A non-deterministic bug where a new instance of the CrawlerModel is created thereby making the _domains object and hence a NoneType error attached below. The bug manifests while tagging pages
3. The update session event should be replaced by a call to the sessio

[2016-01-27 19:44] #52 closed

[2016-02-22 19:04] brittainhard opened #66 "Error: Could not find or load main class GoogleSearch"
On master, can't make new queries because of the following errors:
[code]
any feedback on this would be appreciated.

[2016-02-22 19:09] aecio commented on #66
Did you try to recompile the Java code?

    make downloader_app

[2016-02-22 19:33] brittainhard commented on #66
Didn't try that, but reinstalling the application fixed it. Closing this.

[2016-02-22 19:33] #66 closed

[2016-02-24 20:41] remram44 opened #67 "Searching for same queries reset tags"
When downloading the same page again, its tags get reset.

[2016-03-08 18:24] aecio opened #69 "OutOfMemoryError on statistics page"
Page statistics show the following error when there is a big number of pages indexed.

[code]

[2016-03-08 23:07] yamsgithub commented on #69
Did you try increasing the heap size of your elasticsearch?

[2016-03-08 23:15] yamsgithub commented on #69
Increasing the heap size of elasticsearch does solve the problem. But I am leaving this issue open so @brittainhard can check if there is a better way handling the data with smaller memory footprint.

[2016-03-11 06:15] mikew77 opened #71 "DDT - Build Model Hangs"
Having created a new domain, tagged pages and terms as relevant and irrelevant, I click on the "Build Model" button to generate training data package for use with ACHE.  The cursor goes busy for a long period (circa 30-45 minutes) and no content is created even when I check in the folders via command line.

This applies to the local development instance v2.8.3 of DDT

[2016-03-11 11:57] aecio commented on #71
Hi @mikew77, this should have been fixed in commit 4291a468ee8ca378dafb8ccb79f2a68bf8d3c336. Can you try again using the latest version from the master branch?

[2016-03-11 12:19] mikew77 commented on #71
Hi Aecio

Thanks for your help; I've left the office for the weekend as I'm gmt +8 but will try as soon as I'm back in the office next week and will let you know.

Thanks again!

Best regards
Mike

Sent from my iPhone

[2016-03-16 03:57] mikew77 commented on #71
Hi Aecio, still seeing the hang on the build model generation (ran the
process for several hours).  This time however I tested on the docker
deployment (I saw the initial bug on the standalone deployment).  So it may
be the fix hasn't been ported to the docker deployment.  I'll retry and let
you know how it goes.

On Fri, Mar 11, 2016 at 8:19 PM, Mike Wong <mrmichaelwong0770@gmail.com>
wrote:

[2016-03-16 04:27] mikew77 opened #72 "DDT - Standalone; ddt (exit status 1; not expected)"
Hi folks, am getting some issues with the stand alone deployment.  The package builds (make) and then can run ddt, but can't open the application on localhost:8084.  The terminal shows this pattern of starting, then exiting ddt roughly every three minutes.  A sample is pasted below:

--------------

2016-03-16 12:10:40,956 INFO success: ddt entered RUNNING state, process has stayed up for > than 1

[2016-03-16 07:12] mikew77 commented on #71
Apologies, user error from my earlier test.  I tried again by deleting my
clone of the github folder and rebuilt the docker environment (couldn't get
standalone up and running).  The build model is now generating.  Thanks for
your help! :)

On Wed, Mar 16, 2016 at 11:57 AM, Mike Wong <mrmichaelwong0770@gmail.com>
wrote:

[2016-03-17 21:03] yamsgithub commented on #71
@mikew77 could you please send me the details of the error you get when you build and run the standalone version?

[2016-03-18 09:42] mikew77 commented on #71
@yamsgithub sorry; I didn't make a copy of the error message I received.  I think it got through the install process but couldn't launch the environment - so I launched supervisord, but couldn't hit DDT on localhost:8084

I have noticed that even with the docker deployment, I sometimes need to switch browsers to get DDT up and running otherwise I can't hit the app.  I may retest the standalone ver

[2016-03-18 15:44] yamsgithub commented on #72
I ran ddt with the supervisord command. All seemed to work fine for me. Looks like there was an issue with connecting to elasticsearch. Could you please check if the elasticsearch is running fine. You can look at the logs for DDT and elasticsearch using the link localhost:9001 (if you are running on localhost)

[2016-03-23 08:45] #71 closed

[2016-03-23 08:46] mikew77 commented on #72
Hi Yams; this seems to be working now - I agree looked like an elasticsearch issue.  I found another issue which I resolved by a full system rebuild but will raise for review separately.

[2016-03-23 08:46] #72 closed

[2016-03-23 08:49] mikew77 opened #73 "Bind for 0.0.0.0:8084 failed: port is already allocated"
Whilst trying to restart the docker deployment of DDT I get the "port is already allocated" message.

I check iptables and had the following entries - and tried to remove the 8084 nat entry manually and recreate the images but got the same error.

I resolved this by removing the docker images and then removing the domain_discovery_tool directory, creating a new clone and rebuilding.

~/domain_disc

[2016-03-30 18:22] canavandl commented on #62
If that's the case - I'd recommend just manually setting the range bounds when instantiating the plot instead of relying on the solver.

[2016-03-31 15:38] brittainhard opened #77 "Queries Plot Breaks with Large Queries"
With very large queries, the queries plot has difficulty rendering lines. There are a number of factors, that may be causing this, including conflicts with the new forwardlinks / backlinks feature.

[2016-03-31 19:17] yamsgithub commented on #77
@brittainhard I think this bug just has to do with handling large queries which is a side effect of forward/backward crawling. There should be no conflicts with the addition of these features per se. If there is such a dependency it is incorrect and should also be fixed.

[2016-04-01 21:10] aecio opened #78 "Domain context not being changed using menu"
After creating a new domain, and using the domains menu to switch to the new domain, DDT doesn't change the context to the new domain.

To reproduce:
1. Create a domain named A and populate with some pages
2. Create another domain named B
3. Switch the context to the new domain B using the domain's menu
4. The context will not change to B, and the number of pages of domain A will continue to be sh

[2016-04-01 21:27] aecio opened #79 "Web search form issue query automatically without user control"
Web search form query is being issued automatically after opening Search Engine combo box, without user clicking on search button or hitting enter key.

[2016-04-01 22:05] aecio commented on #79
This is a more general bug. Even typing a query and then switching to another browser tab issue the query.

[2016-04-01 22:31] aecio opened #80 "Custom tags combo box shows only tags from the pages shown in the visualization"
After a page refresh, if there are custom tags added to pages which are not shown in the 2D visualization, these tags will not be loaded to the custom tags combo box, and the user will not be able to apply them to other pages.

[2016-04-26 15:05] yamsgithub commented on #79
This is fixed

[2016-04-26 15:05] #79 closed

[2016-04-26 15:06] yamsgithub commented on #67
This is fixed

[2016-04-26 15:06] #67 closed

[2016-04-26 15:09] yamsgithub commented on #78
Cannot reproduce this.

[2016-04-26 15:09] #78 closed

[2016-04-26 21:22] yamsgithub commented on #80
This is fixed

[2016-04-26 21:22] #80 closed

[2016-05-11 17:29] canavandl commented on #73
It appears that force killing the web application (via Ctrl + C) or when the application crashed due to an internal exception, it will sometimes orphan the python process instead of killing it. The orphan process can be identified via:

[code]

You can kill the process via it's pid via:
[code]

[2016-05-12 15:19] mikew77 commented on #73
This is great thanks @canavandl; a lot easier thank a rebuild :+1:

[2016-05-13 17:44] #73 closed

[2016-05-16 01:57] yamsgithub commented on #48
Done

[2016-05-16 01:57] #48 closed

[2016-05-16 01:57] yamsgithub commented on #48
Done

[2016-05-16 01:59] yamsgithub commented on #18
Done in PR #82

[2016-05-16 01:59] #18 closed

[2016-07-20 23:45] aecio opened #84 "User interface hangs for filter queries that contain colon"
User interface hangs for filter queries that contain colon. It should support any query supported by Elasticsearch's query_string.

[2016-08-17 00:10] aecio opened #86 "Group by correlation does not work"
Request to /getPages fails with following exception due to hard-coded file name.

[code]

[2016-08-17 00:49] aecio opened #87 "First request fails because domainId is not set yet"
This same error happens to both `/getAvailableQueries` and `/getAvailableTags`:

[code]

[2016-08-17 01:43] yamsgithub commented on #86
Should be fixed with the latest update

[2016-08-17 01:43] #86 closed

[2016-08-17 01:43] yamsgithub commented on #87
Should be fixed with the latest update

[2016-08-17 01:43] #87 closed

[2016-08-17 01:58] yamsgithub opened #88 "Maintain separation of functionality of crawlervis.js and dataaccess.js"
dataaccess.js should not have any code that changes the user interface. All such code should be handled in crawlervis.js via signals and callbacks from dataaccess.js.

[2016-08-17 02:01] yamsgithub opened #89 ""see more" "see less" in filter data are not working as expected"

[2016-08-17 02:03] yamsgithub opened #90 "Update button should be moved out of Filter Data"
Since it is not visible when the Filter Data tab is minimized

[2016-08-20 00:56] yamsgithub commented on #89
So once we select the "see more" or "see less" they disappear unless you refresh again. Basically you should toggle between them.

[2016-08-20 16:53] yamsgithub opened #91 "Update when filter criteria is selected without clicking on update button"

[2016-08-22 14:37] soniacq commented on #90
Fixes: Update button was moved out of Filter Data. Now, it is on top of Multidimensional Scaling Visualization area. Also, the components into Filter Data were updated.

[2016-08-22 14:40] soniacq commented on #88
Fixes: dataaccess.js already do not have any code that changes the user interface. Now, all such code is handled in crawlervis.js via signals and callbacks from dataaccess.js

[2016-08-22 14:53] soniacq commented on #89
Here "see more" and "see less" are toggling between them. They only should disappear when you have fewer than 6 queries/tags (remember: the minimal quantity of queries/tags that you can show is 5).

[2016-08-27 07:28] dportabella opened #92 "still an error with building a docker image because of conda"
[code]
It seems that this commit does not fix the problem.
https://github.com/ViDA-NYU/domain_discovery_tool/commit/d1b54570e45235adeefc94e1ea34274a86510773

i tried using Miniconda3-latest-Linux-x86_64.sh  instead of Miniconda2-latest-Linux-x86_64.sh, but then I get this other error:
The following specifications were found to be in conflict:
[code]

[2016-09-28 16:19] soniacq commented on #91
All components like as queries, tags, filter results, model tags, etc are updated when filter criteria is selected (without clicking on update button) even when a new query is created.

[2016-09-28 16:19] #91 closed

[2016-09-28 16:19] #90 closed

[2016-09-28 16:19] #89 closed

[2016-09-28 16:19] #88 closed

[2016-09-29 16:16] #63 closed

[2016-09-29 16:19] yamsgithub opened #94 "Display image and snippet from data in elasticsearch and not use the jquery plugin"

[2016-09-29 16:21] yamsgithub opened #95 "Filter by keywords should be merged into "Filter Data" tab"

[2016-10-07 14:48] soniacq commented on #61
Counts in page summary panel were corrected.

[2016-10-07 14:49] soniacq commented on #95
Filter by keywords was merged into "Filter Data" tab.

[2016-10-07 14:54] #95 closed

[2016-10-07 14:55] #61 closed

[2017-03-20 23:44] soniacq commented on #3
Done. We can load urls from file .txt

[2017-03-23 20:58] kienpt opened #97 "Display the search results in DDT as soon as Google/Bing returns them"
In the current version, when an user enters a search query, DDT does the following steps:
1. DDT sends the queries to Google/Bing.
2. DDT extracts URLs from query results.
3. DDT fetches the extracted URLs.
4. DDT parses the fetched pages then display the extracted information including title, short description of the pages.

These steps usually take a long time to complete, leading to unnecessary

[2017-03-23 21:30] kienpt opened #98 "Return a more diverse set of pages"
Given the fact that users can't annotate all the available pages, DDT should provide a way for users to select a set of **diverse** pages (i.e., maximising the sum of pairwise similarity of all pages in the set) for annotation. Current version allows users to select pages via visualisation which groups similar pages together, therefore obtaining pages that are textually different requires multiple

[2017-04-03 21:40] kienpt commented on #97
I added the code that returns titles and snippets from Google Search results. We then need to use these to show to the users.
Btw, the BingSearch API does not work in my test - it returns 403. Maybe the accountkey is blocked or expired. We should handle this situation especially when we send a bunch of queries via seed crawler.

[2017-04-13 20:36] yamsgithub commented on #13
Can you try giving the whole path and not ~/workspace.

[2017-04-13 20:41] aecio commented on #13
I actually gave it the whole path, I just replaced my home directory by `~/` before posting on github.

[2017-04-13 20:47] yamsgithub commented on #13
Ah...looks like you still have the DD API folders in your domain_discovery_tool_react. Do you still have folders models, elastic etc in your DDT server folder?

[2017-04-13 21:22] aecio commented on #13
I had them:

[code]

But they had only the binaries, not source code:

[code]

I removed everything as in a new clone of the master branch, and ran `make` again and it apparently worked.

But I got this "index_not_found_exception" error below using ES 1.5. What ES version are you using?

[code]

[2017-04-13 21:52] yamsgithub commented on #13
I usually run version 1.6.2

On 13 April 2017 at 16:22, Aécio Santos <notifications@github.com> wrote:

[2017-05-12 07:11] yamsgithub commented on #18
Changed filter tabs to checkbox tree
Added annotated terms and top level domains

[2017-05-17 18:02] yamsgithub commented on #20
Fixed the issue with ache crawler not stopping. The problem was caused as the terminate was shutting down only the shell (since shell was set to True) since the pid returned is that of the shell and not the crawler process. Setting shell=False in Popen solved the issue.

[2017-05-31 04:27] julianafreire opened #99 "Need to index the name of top level domains"
Should be able to search for a specific domain name. Currently, a search for a term that only appears in the domain name returns 0 answers

[2017-05-31 04:29] julianafreire commented on #99
Seems to work. After I 'reloaded' DDT, the query worked. (But this shows there is some instability, and the tools gets into a 'inconsistent' state)

[2017-05-31 04:29] #99 closed

[2017-06-06 17:02] soniacq commented on #26
Fixed. Now, the number of pages crawled (showed on the filter tab) is being updated when the crawler is running.

[2017-06-06 17:05] soniacq commented on #16
The button to label all pages displayed with one click was added.

[2017-06-18 15:54] yamsgithub commented on #42
Hi Juliana:

I think I figured out the problem and it is mostly solved. The problem was
that we were returning the results from elasticsearch(es) as a dictionary
with the id of the page as the key. Dictionaries of course do not maintain
the order of the pages. That is why we saw so many out of synch snippet
updates. So ideally on the client we should be ordering them by some
criteria timestamp or

[2017-06-28 15:57] yamsgithub commented on #46
Added message "Applying Model to Pages" when the model is being applied.

[2017-06-28 16:00] yamsgithub commented on #45
This has been fixed in commit https://github.com/ViDA-NYU/domain_discovery_tool_react/commit/809062092efd6cba710e4def8ffda9a12bfb1a75

[2017-06-28 18:10] yamsgithub commented on #42
This was fixed by commit to DD API ViDA-NYU/domain_discovery_API@be1e399

[2017-06-28 18:14] yamsgithub commented on #40
The message shown was incorrect and was fixed. We cannot select the search engine for seed finder. Seed finder process can now be monitored in process monitor.

[2017-06-28 18:17] yamsgithub commented on #35
This is fixed by commit https://github.com/ViDA-NYU/domain_discovery_tool_react/commit/2fc4d425c67ece7e657560b61b8165f1c542a4ab

[2017-06-28 18:23] yamsgithub commented on #34
I tested this and am able to upload by changing the same file.

[2017-06-28 18:31] yamsgithub commented on #23
This was because the pages that were already predicted are included. This has been fixed with commit https://github.com/ViDA-NYU/domain_discovery_API/commit/14389aa0302d1aca6393ecfd3b96c785f33c683d

[2017-06-28 18:34] yamsgithub commented on #22
This was probably when we had Goog and Bing quota issues. I tested this scenario and do not see a problem.

[2017-07-08 15:43] yamsgithub commented on #39
Done in commit https://github.com/ViDA-NYU/domain_discovery_tool/commit/8f0c989b1af504a5139dca82585fe2c0cd01b05c

[2017-08-02 15:10] yamsgithub commented on #38
Changed icon to the Home icon that is more universal

[2017-08-02 15:13] yamsgithub commented on #30
This issue no longer occurs with all the recent changes.

[2017-08-02 15:14] yamsgithub commented on #9
Not sure what this enhancement was about

[2017-08-02 15:15] yamsgithub commented on #8
Done.

[2017-08-02 15:23] yamsgithub commented on #5
Done

[2017-08-02 15:24] yamsgithub commented on #11
Fixed.

[2017-08-02 15:25] yamsgithub commented on #25
We need to check if pop-up is blocked and enable it.

[2017-08-03 16:04] soniacq commented on #12
Fixed. The delete filter list is scrollable.

[2017-08-03 19:56] yamsgithub commented on #53
This does not seem to be the case. The following ACHE crawler message when urls are added reiterates this:

[2017-08-03 15:50:34,238] INFO [qtp597874846-15] (FrontierManager.java:236) - Adding 3 seed URL(s)...
[2017-08-03 15:50:34,320] INFO [qtp597874846-15] (FrontierManager.java:248) - Added seed URL: http://answers.yahoo.com/dir/index/discover?sid=396545327
[2017-08-03 15:50:34,320] INFO [qtp597

[2017-08-03 22:15] yamsgithub commented on #12
Tested fix.

[2017-08-08 19:01] nandukalidindi commented on #25
A `Download` button is provided for the user to click on once the model is ready. This method is chosen because difficulty to open a new window inside an AJAX block. Most of the articles suggested to provide user interaction.

![screen shot 2017-08-06 at 6 00 32 pm](https://user-images.githubusercontent.com/4492228/29089514-7c944f22-7c4a-11e7-92d5-ab03962676f2.png)

[2017-08-08 19:02] nandukalidindi commented on #25
Fixed by commit 72031a616a67ec9ca044d30754528c28998af751

[2017-09-06 17:04] soniacq commented on #7
Added page cap specification.

[2017-09-19 08:13] nonokh opened #100 "Error: JAVA_HOME is not defined correctly."
I when i run the make command . i am getting the following error.

conda env update
Using Anaconda API: https://api.anaconda.org
Fetching package metadata .........
Solving package specifications: .
#
# To activate this environment, use:
# >source activate dd_api
#
# To deactivate this environment, use:
# >source deactivate dd_api
#

source activate dd_api; \
pushd seeds_generator; \
mvn compile a

[2017-09-19 08:22] yamsgithub commented on #100
Any particular reason you are using a deprecated repository?

[2017-09-21 04:12] yamsgithub commented on #61
Please update and compile again. I have added a temporary fix till npm fixes it.
https://github.com/ViDA-NYU/domain_discovery_tool/commit/f93caf989bc82e2d0873e1c7dd34f73aca57af4e

[2017-09-21 04:13] yamsgithub commented on #60
Is this still an issue? If not please close the issue.

[2017-09-21 21:33] aecio commented on #53
This issue is still happening, tough it not always appending `,1`. Right now I'm seeing that it appended `1` in the URLs shown in "Crawling View" -> "Deep Crawling" ->  "Domains for crawling".

[2017-09-25 15:43] yamsgithub commented on #60
Closing issue as there was no response.

[2018-03-23 20:12] adityasundaram commented on #63
Facing the same issue here

[2018-03-23 20:35] aecio commented on #63
Are you using docker and and [docker-compose.yml.ache](https://github.com/ViDA-NYU/domain_discovery_tool/blob/master/docker-compose.yml.ache) file? There was an issue (#65) with docker pulling and incompatible ACHE version which may be related to this issue.

[2018-03-23 20:44] adityasundaram commented on #63
That worked, thank you!

[2018-03-24 13:49] raldam commented on #63
No, it was not docker.

[2018-03-24 14:22] yamsgithub commented on #63
@raldam If you are not using docker and are running ache that you cloned from the github then you should clone the tagged version 0.9.0. The current DDT does not work with the latest ACHE.

[2018-03-24 16:15] yamsgithub commented on #63
@raldam I would recommend using the docker version unless you want to change the configuration of ACHE

[2018-05-08 21:38] yamsgithub commented on #67
Thanks! I don't see the logo. Also could you please let us know your interest in DDT and how you plan to use and contribute to it?

[2018-05-09 09:55] ghost commented on #67
Hi dear @yamsgithub
i am working on GitHub for open source programs as a freelancer and i just visit your website and check that you have no logo on your website and that's why i offer you a logo.
i am sending you some samples of logo please have a look and let me know if you like anyone
i can also change colors fonts e.t.c its just sample you need to choose any icon
![untitled-1 copy](https://use

[2018-05-10 17:16] ghost commented on #67
Hello dear @yamsgithub have a look please check logos and let me know if you like any one?

[2018-05-10 20:08] yamsgithub commented on #67
@waqasanwar94 thanks and couple of them could be relevant...so good effort. But unfortunately due to security reasons we cannot accept unsolicited logos and related code. We only allow use and contribution to the project itself. But thanks again for your effort.

[2018-07-04 08:36] sheeluee7 commented on #21
I also faced the same issue, it takes a lot of time on query & I also got same logs. Unable to scroll when DDT is scrolling is really frustrating.

[2018-07-04 13:09] julianafreire commented on #21
@yamsgithub can you please look into this?

[2018-07-05 16:27] yamsgithub commented on #21
@sheeluee7 I will see if I can reproduce the problem. Can you please provide the query you were using? But it may take me couple of weeks to get to resolving it as we have some deadlines. Will try to get to it earlier if I get the chance.

[2019-12-22 10:47] yamsgithub commented on #71
Hi:

Sorry for the late response. Unfortunately we will not be able to just update the ache version in the docker file as it will require testing the whole functionality with the new version before we release. You are free to update this at your end and test it. Please raise any issues you find. Since this is an open source software it would be a great help and contribution.

Best regards
Yamuna